<table class="table table-hover" matSort (matSortChange)="sortData($event)">
  <tr class="thead-dark">
    <th class="head-name" mat-sort-header="name">Color</th>
    <th  class="head-name" mat-sort-header="value">Value</th>

  </tr>
  <tr *ngFor="let dessert of sortedData">
    <td
      [innerText]='dessert.name | uppercase'
    >
    </td>
    <td
      [style.color] = 'dessert.value'
    >
    {{dessert.value}}
    <div class="tdColor" [style.background-color] = 'dessert.value'></div>
  </td>
  </tr>
</table>
